
.filter {
    display: flex;
    gap: 8px;
    padding: 16px;
}

.section {
    display: flex;
    gap: 4px;
}

.added {
    display: flex;
    gap: 4px;
    padding: 16px;
    justify-content: space-between;
}

.tags {
    display: flex;
    gap: 4px;
}

.tag {
    display: flex;
    gap: 4px;
}